section.list {
  background-color: rgba(221, 221, 221, 0.295);
  /* background: rgb(182,238,247);
  background: -moz-linear-gradient(0deg, rgba(182,238,247,1) 0%, rgba(210,250,255,1) 60%);
  background: -webkit-linear-gradient(0deg, rgba(182,238,247,1) 0%, rgba(210,250,255,1) 60%);
  background: linear-gradient(0deg, rgba(182,238,247,1) 0%, rgba(210,250,255,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b6eef7",endColorstr="#d2faff",GradientType=1); */
}
section.detail {
  min-height: 100vh;
  background: rgb(36,151,170);
  background: -moz-linear-gradient(0deg, rgba(36,151,170,1) 0%, rgba(2,188,211,1) 60%);
  background: -webkit-linear-gradient(0deg, rgba(36,151,170,1) 0%, rgba(2,188,211,1) 60%);
  background: linear-gradient(0deg, rgba(36,151,170,1) 0%, rgba(2,188,211,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2497aa",endColorstr="#02bcd3",GradientType=1);
}

body{
  font-family: 'open sans','tahoma',sans-serif;
  font-size: 1em;
}
.header {
  padding: 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0px;
  height: 55px;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

.btn-info-gradient {
  color: white;
  border-radius: 20px;
  background: rgb(23,162,184);
  background: -moz-linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  background: linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17a2b8",endColorstr="#45cce1",GradientType=1);
}

.detail-img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: -100px;
}
.poke-img {
  width: 70%;
}
.card {
  border-radius: 12px;
}
.card-poke-list {
  height: auto;
}
.card-poke-detail {
  margin-top: 8rem;
  height: auto;
  padding: 0.8em;
  margin-bottom: calc(2em + 55px);
}
.alert-poke-detail {
  border-radius: 15px;
  width: auto;
  padding: 10px;
  background-color: rgba(88, 243, 243, 0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
