section.home {
  min-height: 100vh;
  background-color: rgb(86,192,209);
  background-color: -moz-linear-gradient(0deg, rgba(86,192,209,1) 0%, rgba(129,210,223,1) 100%);
  background-color: -webkit-linear-gradient(0deg, rgba(86,192,209,1) 0%, rgba(129,210,223,1) 100%);
  background-color: linear-gradient(0deg, rgba(86,192,209,1) 0%, rgba(129,210,223,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c0d1",endColorstr="#81d2df",GradientType=1);
}
section.list, section.mylist {
  background-color: rgba(221, 221, 221, 0.295);
  min-height: 100vh;
  background: rgb(176, 243, 255);
  background: -moz-linear-gradient(0deg, rgb(198, 244, 252) 0%, rgb(165, 231, 240) 60%);
  background: -webkit-linear-gradient(0deg, rgba(198, 244, 252,1) 0%, rgba(165, 231, 240) 60%);
  background: linear-gradient(0deg, rgba(198, 244, 252,1) 0%, rgba(165, 231, 240,1) 60%);
}
section.list .container, section.mylist .container {
  padding-bottom: calc(2em + 60px);
}
section.detail {
  min-height: 100vh;
  background: rgb(36,151,170);
  background: -moz-linear-gradient(0deg, rgba(36,151,170,1) 0%, rgba(2,188,211,1) 60%);
  background: -webkit-linear-gradient(0deg, rgba(36,151,170,1) 0%, rgba(2,188,211,1) 60%);
  background: linear-gradient(0deg, rgba(36,151,170,1) 0%, rgba(2,188,211,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2497aa",endColorstr="#02bcd3",GradientType=1);
}

body{
  font-family: 'open sans','tahoma',sans-serif;
  font-size: 1em;
}
.header {
  font-size: 14px;
  border-top: 1px solid rgba(155, 155, 155, 0.247);
  padding: 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0px;
  height: 65px;
  width: 100vw;
  background-color: white;
  z-index: 2;
}

.overlay {
  overflow: hidden;
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
}

.form-control {
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgb(151, 202, 218);
}

.btn-home-gradient {
  color: rgb(59, 59, 59);
  border-radius: 20px;
  background: rgb(255,204,0);
  background: rgb(255,204,0);
  background: -moz-linear-gradient(59deg, rgba(255,204,0,1) 0%, rgba(255,215,57,1) 100%);
  background: -webkit-linear-gradient(59deg, rgba(255,204,0,1) 0%, rgba(255,215,57,1) 100%);
  background: linear-gradient(59deg, rgba(255,204,0,1) 0%, rgba(255,215,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcc00",endColorstr="#ffd739",GradientType=1);}

.btn-info-gradient {
  color: white;
  border-radius: 20px;
  background: rgb(23,162,184);
  background: -moz-linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  background: linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17a2b8",endColorstr="#45cce1",GradientType=1);
}
.btn-danger-gradient {
  color: white;
  border-radius: 20px;
  background: rgb(219,53,87);
  background: -moz-linear-gradient(59deg, rgba(219,53,87,1) 0%, rgba(255,31,77,1) 100%);
  background: -webkit-linear-gradient(59deg, rgba(219,53,87,1) 0%, rgba(255,31,77,1) 100%);
  background: linear-gradient(59deg, rgba(219,53,87,1) 0%, rgba(255,31,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db3557",endColorstr="#ff1f4d",GradientType=1);
}

.list-layout{
  padding: 5px !important;
}

.detail-img {
  width: 60%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: -100px;
}
.poke-img {
  width: 70%;
  height: 100px;
}
.card {
  border-radius: 12px;
}
.card-poke-list {
  transition: all 0.3s ease-in-out;
  height: auto;
  min-height: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.836);
}
.card-poke-list:hover {
  transform: translateY(-10px);
  background-color: rgba(232, 255, 218, 0.863);
}
.card-poke-detail {
  margin-top: 8rem;
  height: auto;
  padding: 0.8em;
  margin-bottom: calc(2em + 60px);
}
.alert-poke-detail {
  border-radius: 15px;
  width: auto;
  padding: 10px;
  background-color: rgba(88, 243, 243, 0.2);
}

a { 
  text-decoration: none;
  color: rgb(56, 56, 56);
}
a:hover {
  text-decoration: none;
}
header a {
  color: rgb(63, 63, 63);
}
header a:hover {
  text-decoration: none;
  color: rgb(23,162,184);
  color: -moz-linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  color: -webkit-linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
  color: linear-gradient(146deg, rgba(23,162,184,1) 0%, rgba(69,204,225,1) 100%);
}

.pokeball {
  height: 20vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .pokeball {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


